/*************************************************** TAILWIND SECTION ***************************************************/


.light {
    background-color: #fff;
    color: #111;
    transition: background-color;
    transition-duration: 300ms;
}

/*************************************************** GENERIC SECTION ***************************************************/

body {
    --sb-track-color: #fff;
    --sb-thumb-color: #ff5e54;
    --sb-size: 10px;
    --color-blue:#33c5fd;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}

/*************************************************** SCROLLBAR SECTION ***************************************************/

body::-webkit-scrollbar {
    width: var(--sb-size) 
}
  
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}

.app-title{
    // background-image: linear-gradient(to bottom right, #ff5e54, #33c5fd);
    color: #ff5e54
}

.podcast-number{
    color:#fff;
    background-color:var(--color-blue);
    font-weight: 600;
    border-radius: 25%;
}